##อ่านข้อมูลในไฟล์ student.csv

In [638]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [639]:
np.random.seed(42)

In [640]:
df = pd.read_csv('student.csv')

In [641]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-02-13
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2023-12-31
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2023-12-30
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2024-01-31
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-02-04
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2024-01-28
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-02-08
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-02-05
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-10
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2023-12-18
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-21
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2024-02-04
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-22
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-05
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2023-12-24
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-23
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-02
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2023-12-19
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2024-01-09
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-02-13

In [642]:
df.shape

(20, 10)

##เช็ค ค่าผิดปกติก่อนเริ่มทำ

In [643]:
df.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       3
เพศ                        2
คณะ                        2
GPA                        2
ส่วนสูง_cm                 1
น้ำหนัก_kg                 2
ชั่วโมงเรียน_ต่อสัปดาห์    2
วันที่ลงทะเบียน            0
dtype: int64

In [644]:
df['คณะ'].nunique()

14

In [645]:
df['อายุ'].nunique()

6

##ทำการ copy

In [646]:
df_original = df.copy()

In [647]:
df_original

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-02-13
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2023-12-31
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2023-12-30
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2024-01-31
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-02-04
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2024-01-28
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-02-08
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-02-05
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-10
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2023-12-18
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-21
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2024-02-04
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-22
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-05
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2023-12-24
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-23
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-02
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2023-12-19
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2024-01-09
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-02-13

##วิเคราะห์ข้อมูลเบื้องต้น (EDA)

In [648]:
print("="*50)
print("📋 ข้อมูลทั่วไปของ Dataset")
print("="*50)
df.info()

==================================================
📋 ข้อมูลทั่วไปของ Dataset
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   รหัสนักศึกษา             20 non-null     int64
 1   ชื่อ                     19 non-null     object
 2   อายุ                     17 non-null     float64
 3   เพศ                      18 non-null     object
 4   คณะ                      18 non-null     object
 5   GPA                      18 non-null     float64
 6   ส่วนสูง_cm               19 non-null     float64
 7   น้ำหนัก_kg               18 non-null     float64
 8   ชั่วโมงเรียน_ต่อสัปดาห์  18 non-null     float64
 9   วันที่ลงทะเบียน          20 non-null     object
dtypes: float64(5), int64(1), object(4)
memory usage: 1.7+ KB

In [649]:
print("\n" + "="*50)
print("📊 สถิติเชิงพรรณนา")
print("="*50)
print(df.describe())

==================================================
📊 สถิติเชิงพรรณนา
==================================================
       รหัสนักศึกษา        อายุ        GPA  ส่วนสูง_cm  น้ำหนัก_kg  \
count      20.00000   17.000000  18.000000   19.000000   18.000000
mean    64010.50000   28.470588   3.246111  167.684211   63.611111
std         5.91608   31.337114   1.123326    5.706260   10.279270
min     64001.00000   19.000000  -1.000000  158.000000   48.000000
25%     64005.75000   20.000000   3.215000  163.500000   55.250000
50%     64010.50000   21.000000   3.450000  168.000000   63.000000
75%     64015.25000   22.000000   3.670000  171.500000   71.500000
max     64020.00000  150.000000   4.500000  180.000000   82.000000

       ชั่วโมงเรียน_ต่อสัปดาห์
count                18.000000
mean                 21.388889
std                   6.598920
min                  10.000000
25%                  16.500000
50%                  21.500000
75%                  25.750000
max                  35.000000

In [650]:
missing_counts = df.isnull().sum()
print("\nค่าหายในแต่ละคอลัมน์:")
for col, count in missing_counts[missing_counts > 0].items():
    percentage = (count / len(df)) * 100
    print(f"   - {col}: {count} ค่า ({percentage:.1f}%)")

ค่าหายในแต่ละคอลัมน์:
   - ชื่อ: 1 ค่า (5.0%)
   - อายุ: 3 ค่า (15.0%)
   - เพศ: 2 ค่า (10.0%)
   - คณะ: 2 ค่า (10.0%)
   - GPA: 2 ค่า (10.0%)
   - ส่วนสูง_cm: 1 ค่า (5.0%)
   - น้ำหนัก_kg: 2 ค่า (10.0%)
   - ชั่วโมงเรียน_ต่อสัปดาห์: 2 ค่า (10.0%)

##ทดสอบการ dropna
#ลบแถวที่มีค่าหาย

In [651]:
df_clean = df.dropna()

In [652]:
df_clean.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       0
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

In [653]:
df_clean

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-02-13
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2023-12-31
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2024-01-31
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-02-04
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2024-01-28
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-02-08
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-02-05
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-10
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2023-12-18
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-22
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-05
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2023-12-24
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-23
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-02

In [654]:
mean_age = df['อายุ'].mean()

In [655]:
mean_age

np.float64(28.470588235294116)

##เติมค่าด้วยค่าเฉลี่ย (GPA ,อายุ ,ส่วนสูง_cm ,น้ำหนัก_kg)

In [656]:
df['อายุ'].fillna(df['อายุ'].mean(), inplace=True)
df['GPA'].fillna(df['GPA'].mean(), inplace=True)
df['ส่วนสูง_cm'].fillna(df['ส่วนสูง_cm'].mean(), inplace=True)
df['น้ำหนัก_kg'].fillna(df['น้ำหนัก_kg'].mean(), inplace=True)

In [657]:
df['อายุ']

0      20.000000
1      21.000000
2      28.470588
3      22.000000
4      19.000000
5     150.000000
6      21.000000
7      20.000000
8      23.000000
9      21.000000
10     28.470588
11     22.000000
12     20.000000
13     21.000000
14     22.000000
15     19.000000
16     20.000000
17     21.000000
18     28.470588
19     22.000000
Name: อายุ, dtype: float64

In [658]:
df['GPA']

0     3.210000
1     3.450000
2     3.670000
3    -1.000000
4     3.890000
5     3.120000
6     4.500000
7     2.980000
8     3.340000
9     3.560000
10    3.780000
11    3.246111
12    3.230000
13    3.450000
14    3.670000
15    3.890000
16    3.010000
17    3.230000
18    3.246111
19    3.450000
Name: GPA, dtype: float64

In [659]:
df['ส่วนสูง_cm']

0     170.000000
1     165.000000
2     175.000000
3     168.000000
4     160.000000
5     172.000000
6     158.000000
7     180.000000
8     163.000000
9     167.000000
10    167.684211
11    171.000000
12    169.000000
13    164.000000
14    162.000000
15    173.000000
16    166.000000
17    161.000000
18    174.000000
19    168.000000
Name: ส่วนสูง_cm, dtype: float64

In [660]:
df['น้ำหนัก_kg']

0     65.000000
1     58.000000
2     63.611111
3     70.000000
4     52.000000
5     75.000000
6     48.000000
7     82.000000
8     55.000000
9     60.000000
10    68.000000
11    63.611111
12    72.000000
13    54.000000
14    56.000000
15    78.000000
16    62.000000
17    50.000000
18    76.000000
19    64.000000
Name: น้ำหนัก_kg, dtype: float64

In [661]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.0,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.0,2023-12-31
2,64003,NaN,28.470588,Male,Science,3.670000,175.000000,63.611111,25.0,2023-12-30
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.0,2024-01-31
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.890000,160.000000,52.000000,30.0,2024-02-04
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.0,2024-01-28
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.0,2024-02-08
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.0,2024-02-05
8,64009,ชนาธิป,23.000000,M,Arts,3.340000,163.000000,55.000000,22.0,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.0,2023-12-18
10,64011,ธีระ,28.470588,NaN,NaN,3.780000,167.684211,68.000000,NaN,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.0,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.0,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.0,2024-01-05
14,64015,พิมพ์,22.000000,Female,Sci,3.670000,162.000000,56.000000,26.0,2023-12-24
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.0,2024-01-23
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.0,2024-01-02
17,64018,ยุพา,21.000000,หญิง,NaN,3.230000,161.000000,50.000000,27.0,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,NaN,2024-01-09
19,64020,ลัดดา,22.000000,NaN,Science,3.450000,168.000000,64.000000,23.0,2024-02-13

##เติมค่าด้วยค่าที่พบบ่อยที่สุด (คณะ)

In [662]:
df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)
df['เพศ'].fillna(df['เพศ'].mode()[0], inplace=True)
df['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(df['ชั่วโมงเรียน_ต่อสัปดาห์'].mode()[0], inplace=True)

In [663]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.0,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.0,2023-12-31
2,64003,NaN,28.470588,Male,Science,3.670000,175.000000,63.611111,25.0,2023-12-30
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.0,2024-01-31
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.890000,160.000000,52.000000,30.0,2024-02-04
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.0,2024-01-28
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.0,2024-02-08
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.0,2024-02-05
8,64009,ชนาธิป,23.000000,M,Arts,3.340000,163.000000,55.000000,22.0,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.0,2023-12-18
10,64011,ธีระ,28.470588,ชาย,Science,3.780000,167.684211,68.000000,10.0,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.0,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.0,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.0,2024-01-05
14,64015,พิมพ์,22.000000,Female,Sci,3.670000,162.000000,56.000000,26.0,2023-12-24
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.0,2024-01-23
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.0,2024-01-02
17,64018,ยุพา,21.000000,หญิง,Science,3.230000,161.000000,50.000000,27.0,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,10.0,2024-01-09
19,64020,ลัดดา,22.000000,ชาย,Science,3.450000,168.000000,64.000000,23.0,2024-02-13

##การทำให้ข้อมูลเป็นมาตรฐาน

In [664]:
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'Science', 'วิทย์', 'คณะวิทยาศาสตร์', 'Sci']:
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'Arts', 'ศิลป์', 'Liberal Arts']:
        return 'ศิลปศาสตร์'
    elif name in ['วิศวะ', 'Engineering', 'วิศวฯ', 'วิศวกรรมศาสตร์']:
        return 'วิศวกรรมศาสตร์'
    else:
        return name

In [665]:
df['คณะ'] = df['คณะ'].apply(standardize_faculty)

In [666]:
df['คณะ']

0        วิทยาศาสตร์
1        วิทยาศาสตร์
2        วิทยาศาสตร์
3        วิทยาศาสตร์
4     วิศวกรรมศาสตร์
5     วิศวกรรมศาสตร์
6           วิศวกรรม
7         ศิลปศาสตร์
8         ศิลปศาสตร์
9         ศิลปศาสตร์
10       วิทยาศาสตร์
11       วิทยาศาสตร์
12    วิศวกรรมศาสตร์
13        ศิลปศาสตร์
14       วิทยาศาสตร์
15       วิทยาศาสตร์
16    วิศวกรรมศาสตร์
17       วิทยาศาสตร์
18        ศิลปศาสตร์
19       วิทยาศาสตร์
Name: คณะ, dtype: object

In [667]:
def standardize_faculty(sex):
    if sex in ['ชาย', 'Male', 'ช', 'M']:
        return 'ชาย'
    elif sex in ['หญิง', 'Female', 'ญ', 'F']:
        return 'หญิง'
    else:
        return sex

In [668]:
df['เพศ'] = df['เพศ'].apply(standardize_faculty)

In [669]:
df['เพศ']

0      ชาย
1     หญิง
2      ชาย
3      ชาย
4     หญิง
5      ชาย
6     หญิง
7     หญิง
8      ชาย
9     หญิง
10     ชาย
11     ชาย
12    หญิง
13     ชาย
14    หญิง
15     ชาย
16    หญิง
17    หญิง
18     ชาย
19     ชาย
Name: เพศ, dtype: object

In [670]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.0,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.0,2023-12-31
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.0,2023-12-30
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.000000,168.000000,70.000000,10.0,2024-01-31
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.0,2024-02-04
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.0,2024-01-28
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.0,2024-02-08
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.0,2024-02-05
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.0,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.0,2023-12-18
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,10.0,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.0,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.0,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.0,2024-01-05
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.0,2023-12-24
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.0,2024-01-23
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.0,2024-01-02
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.0,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,10.0,2024-01-09
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.0,2024-02-13

##การจัดการค่าผิดปกติ Q1,Q3,IQR

In [671]:
Q1 = df['อายุ'].quantile(0.25)
Q3 = df['อายุ'].quantile(0.75)

In [672]:
Q1, Q3

(np.float64(20.0), np.float64(22.25))

In [673]:
IQR = Q3 - Q1

In [674]:
IQR

np.float64(2.25)

In [675]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [676]:
lower_bound, upper_bound

(np.float64(16.625), np.float64(25.625))

In [677]:
df_no_outliers = df[(df['อายุ'] >= lower_bound) & (df['อายุ'] <= upper_bound)]

In [678]:
df['อายุ'] >= lower_bound

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
Name: อายุ, dtype: bool

In [679]:
df['อายุ'] <= upper_bound

0      True
1      True
2     False
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19     True
Name: อายุ, dtype: bool

In [680]:
print(f"\nขอบเขตล่าง - {lower_bound}")
print(f"ขอบเขตบน - {upper_bound}")
print(f"\nข้อมูลหลังกรองค่าผิดปกติ")
print(df_no_outliers)
print(f"\nค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - {df_no_outliers['อายุ'].mean():.2f}")

ขอบเขตล่าง - 16.625
ขอบเขตบน - 25.625

ข้อมูลหลังกรองค่าผิดปกติ
    รหัสนักศึกษา      ชื่อ  อายุ   เพศ             คณะ       GPA  ส่วนสูง_cm  \
0          64001     สมชาย  20.0   ชาย     วิทยาศาสตร์  3.210000       170.0
1          64002    สมหญิง  21.0  หญิง     วิทยาศาสตร์  3.450000       165.0
3          64004  สมศักดิ์  22.0   ชาย     วิทยาศาสตร์ -1.000000       168.0
4          64005      สมใจ  19.0  หญิง  วิศวกรรมศาสตร์  3.890000       160.0
6          64007     กิตติ  21.0  หญิง        วิศวกรรม  4.500000       158.0
7          64008      จิรา  20.0  หญิง      ศิลปศาสตร์  2.980000       180.0
8          64009    ชนาธิป  23.0   ชาย      ศิลปศาสตร์  3.340000       163.0
9          64010      ดารา  21.0  หญิง      ศิลปศาสตร์  3.560000       167.0
11         64012       นภา  22.0   ชาย     วิทยาศาสตร์  3.246111       171.0
12         64013     บุญมี  20.0  หญิง  วิศวกรรมศาสตร์  3.230000       169.0
13         64014     ปรีชา  21.0   ชาย      ศิลปศาสตร์  3.450000       164.0
14         64015     พิมพ์  22.0  หญิง     วิทยาศาสตร์  3.670000       162.0
15         64016      ภูมิ  19.0   ชาย     วิทยาศาสตร์  3.890000       173.0
16         64017      มานี  20.0  หญิง  วิศวกรรมศาสตร์  3.010000       166.0
17         64018      ยุพา  21.0  หญิง     วิทยาศาสตร์  3.230000       161.0
19         64020     ลัดดา  22.0   ชาย     วิทยาศาสตร์  3.450000       168.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0    65.000000                     15.0      2024-02-13
1    58.000000                     20.0      2023-12-31
3    70.000000                     10.0      2024-01-31
4    52.000000                     30.0      2024-02-04
6    48.000000                     35.0      2024-02-08
7    82.000000                     18.0      2024-02-05
8    55.000000                     22.0      2024-02-10
9    60.000000                     28.0      2023-12-18
11   63.611111                     16.0      2024-02-04
12   72.000000                     24.0      2023-12-22
13   54.000000                     19.0      2024-01-05
14   56.000000                     26.0      2023-12-24
15   78.000000                     14.0      2024-01-23
16   62.000000                     21.0      2024-01-02
17   50.000000                     27.0      2023-12-19
19   64.000000                     23.0      2024-02-13

ค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - 20.88

In [681]:
df_no_outliers

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.210000,170.0,65.000000,15.0,2024-02-13
1,64002,สมหญิง,21.0,หญิง,วิทยาศาสตร์,3.450000,165.0,58.000000,20.0,2023-12-31
3,64004,สมศักดิ์,22.0,ชาย,วิทยาศาสตร์,-1.000000,168.0,70.000000,10.0,2024-01-31
4,64005,สมใจ,19.0,หญิง,วิศวกรรมศาสตร์,3.890000,160.0,52.000000,30.0,2024-02-04
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.500000,158.0,48.000000,35.0,2024-02-08
7,64008,จิรา,20.0,หญิง,ศิลปศาสตร์,2.980000,180.0,82.000000,18.0,2024-02-05
8,64009,ชนาธิป,23.0,ชาย,ศิลปศาสตร์,3.340000,163.0,55.000000,22.0,2024-02-10
9,64010,ดารา,21.0,หญิง,ศิลปศาสตร์,3.560000,167.0,60.000000,28.0,2023-12-18
11,64012,นภา,22.0,ชาย,วิทยาศาสตร์,3.246111,171.0,63.611111,16.0,2024-02-04
12,64013,บุญมี,20.0,หญิง,วิศวกรรมศาสตร์,3.230000,169.0,72.000000,24.0,2023-12-22
13,64014,ปรีชา,21.0,ชาย,ศิลปศาสตร์,3.450000,164.0,54.000000,19.0,2024-01-05
14,64015,พิมพ์,22.0,หญิง,วิทยาศาสตร์,3.670000,162.0,56.000000,26.0,2023-12-24
15,64016,ภูมิ,19.0,ชาย,วิทยาศาสตร์,3.890000,173.0,78.000000,14.0,2024-01-23
16,64017,มานี,20.0,หญิง,วิศวกรรมศาสตร์,3.010000,166.0,62.000000,21.0,2024-01-02
17,64018,ยุพา,21.0,หญิง,วิทยาศาสตร์,3.230000,161.0,50.000000,27.0,2023-12-19
19,64020,ลัดดา,22.0,ชาย,วิทยาศาสตร์,3.450000,168.0,64.000000,23.0,2024-02-13

##One-Hot Encoding แปลงข้อมูลประเภทเป็นตัวเลข

In [682]:
data_encoded = pd.get_dummies(df, columns=['คณะ'])
print(data_encoded)

    รหัสนักศึกษา      ชื่อ        อายุ   เพศ       GPA  ส่วนสูง_cm  \
0          64001     สมชาย   20.000000   ชาย  3.210000  170.000000
1          64002    สมหญิง   21.000000  หญิง  3.450000  165.000000
2          64003       NaN   28.470588   ชาย  3.670000  175.000000
3          64004  สมศักดิ์   22.000000   ชาย -1.000000  168.000000
4          64005      สมใจ   19.000000  หญิง  3.890000  160.000000
5          64006     กานต์  150.000000   ชาย  3.120000  172.000000
6          64007     กิตติ   21.000000  หญิง  4.500000  158.000000
7          64008      จิรา   20.000000  หญิง  2.980000  180.000000
8          64009    ชนาธิป   23.000000   ชาย  3.340000  163.000000
9          64010      ดารา   21.000000  หญิง  3.560000  167.000000
10         64011      ธีระ   28.470588   ชาย  3.780000  167.684211
11         64012       นภา   22.000000   ชาย  3.246111  171.000000
12         64013     บุญมี   20.000000  หญิง  3.230000  169.000000
13         64014     ปรีชา   21.000000   ชาย  3.450000  164.000000
14         64015     พิมพ์   22.000000  หญิง  3.670000  162.000000
15         64016      ภูมิ   19.000000   ชาย  3.890000  173.000000
16         64017      มานี   20.000000  หญิง  3.010000  166.000000
17         64018      ยุพา   21.000000  หญิง  3.230000  161.000000
18         64019     รัตนา   28.470588   ชาย  3.246111  174.000000
19         64020     ลัดดา   22.000000   ชาย  3.450000  168.000000

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน  คณะ_วิทยาศาสตร์  \
0    65.000000                     15.0      2024-02-13             True
1    58.000000                     20.0      2023-12-31             True
2    63.611111                     25.0      2023-12-30             True
3    70.000000                     10.0      2024-01-31             True
4    52.000000                     30.0      2024-02-04            False
5    75.000000                     12.0      2024-01-28            False
6    48.000000                     35.0      2024-02-08            False
7    82.000000                     18.0      2024-02-05            False
8    55.000000                     22.0      2024-02-10            False
9    60.000000                     28.0      2023-12-18            False
10   68.000000                     10.0      2024-01-21             True
11   63.611111                     16.0      2024-02-04             True
12   72.000000                     24.0      2023-12-22            False
13   54.000000                     19.0      2024-01-05            False
14   56.000000                     26.0      2023-12-24             True
15   78.000000                     14.0      2024-01-23             True
16   62.000000                     21.0      2024-01-02            False
17   50.000000                     27.0      2023-12-19             True
18   76.000000                     10.0      2024-01-09            False
19   64.000000                     23.0      2024-02-13             True

    คณะ_วิศวกรรม  คณะ_วิศวกรรมศาสตร์  คณะ_ศิลปศาสตร์
0          False               False           False
1          False               False           False
2          False               False           False
3          False               False           False
4          False                True           False
5          False                True           False
6           True               False           False
7          False               False            True
8          False               False            True
9          False               False            True
10         False               False           False
11         False               False           False
12         False                True           False
13         False               False            True
14         False               False           False
15         False               False           False
16         False                True           False
17         False               False           False
18         False               False            True
19         False               False           False

##การสร้าง Feature จากวันเวลา : หมายเหตุผมทำไม่เป็น เพราะในข้อมูลตัวอย่างมีเวลาให้ แต่อันนี้ไม่มี ผมเลยลองให้ AI ช่วย และทำความเข้าใจ

In [683]:
df['วันที่ลงทะเบียน'] = pd.to_datetime(df['วันที่ลงทะเบียน'], errors='coerce')

In [684]:
df['ชั่วโมง'] = df['วันที่ลงทะเบียน'].dt.hour  # ถ้าไม่มีเวลาจะเป็น 0
df['วันในสัปดาห์'] = df['วันที่ลงทะเบียน'].dt.day_name()
df['เดือน'] = df['วันที่ลงทะเบียน'].dt.month
df['ปี'] = df['วันที่ลงทะเบียน'].dt.year

In [685]:
df['ช่วงเวลา'] = pd.cut(
    df['ชั่วโมง'],
    bins=[0, 10, 14, 18, 24],
    labels=['เช้า', 'กลางวัน', 'บ่าย', 'เย็น'],
    right=False
)

In [686]:
df.head(10)

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,ชั่วโมง,วันในสัปดาห์,เดือน,ปี,ช่วงเวลา
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.21,170.0,65.000000,15.0,2024-02-13,0,Tuesday,2,2024,เช้า
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.45,165.0,58.000000,20.0,2023-12-31,0,Sunday,12,2023,เช้า
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.67,175.0,63.611111,25.0,2023-12-30,0,Saturday,12,2023,เช้า
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.00,168.0,70.000000,10.0,2024-01-31,0,Wednesday,1,2024,เช้า
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.000000,30.0,2024-02-04,0,Sunday,2,2024,เช้า
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.12,172.0,75.000000,12.0,2024-01-28,0,Sunday,1,2024,เช้า
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.50,158.0,48.000000,35.0,2024-02-08,0,Thursday,2,2024,เช้า
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.98,180.0,82.000000,18.0,2024-02-05,0,Monday,2,2024,เช้า
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.34,163.0,55.000000,22.0,2024-02-10,0,Saturday,2,2024,เช้า
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.56,167.0,60.000000,28.0,2023-12-18,0,Monday,12,2023,เช้า

##การรวม Features

In [687]:
df['BMI'] = df['น้ำหนัก_kg'] / (df['ส่วนสูง_cm']/100)**2

In [688]:
df['BMI']

0     22.491349
1     21.303949
2     20.770975
3     24.801587
4     20.312500
5     25.351541
6     19.227688
7     25.308642
8     20.700817
9     21.513859
10    24.183802
11    21.754082
12    25.209201
13    20.077335
14    21.338211
15    26.061679
16    22.499637
17    19.289379
18    25.102391
19    22.675737
Name: BMI, dtype: float64

In [689]:
df['สุขภาพ'] = pd.cut(df['BMI'],bins=[0, 18.5, 25, 30, 100],
                              labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

In [690]:
df['สุขภาพ']

0     ปกติ
1     ปกติ
2     ปกติ
3     ปกติ
4     ปกติ
5     อ้วน
6     ปกติ
7     อ้วน
8     ปกติ
9     ปกติ
10    ปกติ
11    ปกติ
12    อ้วน
13    ปกติ
14    ปกติ
15    อ้วน
16    ปกติ
17    ปกติ
18    อ้วน
19    ปกติ
Name: สุขภาพ, dtype: category
Categories (4, object): ['ผอม' < 'ปกติ' < 'อ้วน' < 'อ้วนมาก']

In [691]:
df['BMI'] = df['น้ำหนัก_kg'] / (df['ส่วนสูง_cm']/100)**2
df['สุขภาพ'] = pd.cut(df['BMI'],bins=[0, 18.5, 25, 30, 100],
                              labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

print(df[['ชื่อ', 'BMI', 'สุขภาพ']])

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2        NaN  20.770975   ปกติ
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ  24.183802   ปกติ
11       นภา  21.754082   ปกติ
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ

In [692]:
print("=== ข้อมูลดิบ ===")
print(df)
print("\nปัญหาที่พบ")
print(f"- ข้อมูลหาย - {df.isnull().sum().sum()} ค่า")
print(f"- GPA ผิดปกติ - {df[(df['GPA'] < 0) | (df['GPA'] > 4)]['GPA'].tolist()}")

=== ข้อมูลดิบ ===
    รหัสนักศึกษา      ชื่อ        อายุ   เพศ             คณะ       GPA  \
0          64001     สมชาย   20.000000   ชาย     วิทยาศาสตร์  3.210000
1          64002    สมหญิง   21.000000  หญิง     วิทยาศาสตร์  3.450000
2          64003       NaN   28.470588   ชาย     วิทยาศาสตร์  3.670000
3          64004  สมศักดิ์   22.000000   ชาย     วิทยาศาสตร์ -1.000000
4          64005      สมใจ   19.000000  หญิง  วิศวกรรมศาสตร์  3.890000
5          64006     กานต์  150.000000   ชาย  วิศวกรรมศาสตร์  3.120000
6          64007     กิตติ   21.000000  หญิง        วิศวกรรม  4.500000
7          64008      จิรา   20.000000  หญิง      ศิลปศาสตร์  2.980000
8          64009    ชนาธิป   23.000000   ชาย      ศิลปศาสตร์  3.340000
9          64010      ดารา   21.000000  หญิง      ศิลปศาสตร์  3.560000
10         64011      ธีระ   28.470588   ชาย     วิทยาศาสตร์  3.780000
11         64012       นภา   22.000000   ชาย     วิทยาศาสตร์  3.246111
12         64013     บุญมี   20.000000  หญิง  วิศวกรรมศาสตร์  3.230000
13         64014     ปรีชา   21.000000   ชาย      ศิลปศาสตร์  3.450000
14         64015     พิมพ์   22.000000  หญิง     วิทยาศาสตร์  3.670000
15         64016      ภูมิ   19.000000   ชาย     วิทยาศาสตร์  3.890000
16         64017      มานี   20.000000  หญิง  วิศวกรรมศาสตร์  3.010000
17         64018      ยุพา   21.000000  หญิง     วิทยาศาสตร์  3.230000
18         64019     รัตนา   28.470588   ชาย      ศิลปศาสตร์  3.246111
19         64020     ลัดดา   22.000000   ชาย     วิทยาศาสตร์  3.450000

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน  ชั่วโมง  \
0   170.000000   65.000000                     15.0      2024-02-13        0
1   165.000000   58.000000                     20.0      2023-12-31        0
2   175.000000   63.611111                     25.0      2023-12-30        0
3   168.000000   70.000000                     10.0      2024-01-31        0
4   160.000000   52.000000                     30.0      2024-02-04        0
5   172.000000   75.000000                     12.0      2024-01-28        0
6   158.000000   48.000000                     35.0      2024-02-08        0
7   180.000000   82.000000                     18.0      2024-02-05        0
8   163.000000   55.000000                     22.0      2024-02-10        0
9   167.000000   60.000000                     28.0      2023-12-18        0
10  167.684211   68.000000                     10.0      2024-01-21        0
11  171.000000   63.611111                     16.0      2024-02-04        0
12  169.000000   72.000000                     24.0      2023-12-22        0
13  164.000000   54.000000                     19.0      2024-01-05        0
14  162.000000   56.000000                     26.0      2023-12-24        0
15  173.000000   78.000000                     14.0      2024-01-23        0
16  166.000000   62.000000                     21.0      2024-01-02        0
17  161.000000   50.000000                     27.0      2023-12-19        0
18  174.000000   76.000000                     10.0      2024-01-09        0
19  168.000000   64.000000                     23.0      2024-02-13        0

   วันในสัปดาห์  เดือน    ปี ช่วงเวลา        BMI สุขภาพ
0       Tuesday      2  2024     เช้า  22.491349   ปกติ
1        Sunday     12  2023     เช้า  21.303949   ปกติ
2      Saturday     12  2023     เช้า  20.770975   ปกติ
3     Wednesday      1  2024     เช้า  24.801587   ปกติ
4        Sunday      2  2024     เช้า  20.312500   ปกติ
5        Sunday      1  2024     เช้า  25.351541   อ้วน
6      Thursday      2  2024     เช้า  19.227688   ปกติ
7        Monday      2  2024     เช้า  25.308642   อ้วน
8      Saturday      2  2024     เช้า  20.700817   ปกติ
9        Monday     12  2023     เช้า  21.513859   ปกติ
10       Sunday      1  2024     เช้า  24.183802   ปกติ
11       Sunday      2  2024     เช้า  21.754082   ปกติ
12       Friday     12  2023     เช้า  25.209201   อ้วน
13       Friday      1  2024     เช้า  20.077335   ปกติ
14       Sunday     12  2023     เช้า  21.338211   ปกติ
15      Tuesday      1  2024     เช้า  26.061679   อ้วน
16      Tuesday      1  2024     เช้า  22.499637   ปกติ
17      Tuesday     12  2023     เช้า  19.289379   ปกติ
18      Tuesday      1  2024     เช้า  25.102391   อ้วน
19      Tuesday      2  2024     เช้า  22.675737   ปกติ

ปัญหาที่พบ
- ข้อมูลหาย - 1 ค่า
- GPA ผิดปกติ - [-1.0, 4.5]

In [693]:
faculty_map = {
    'วิทยาศาสตร์': 'วิทยาศาสตร์',
    'Science': 'วิทยาศาสตร์',
    'วิทย์': 'วิทยาศาสตร์',
    'คณะวิทยาศาสตร์': 'วิทยาศาสตร์',
    'Sci': 'วิทยาศาสตร์',
    'ศิลปศาสตร์': 'ศิลปศาสตร์',
    'Arts': 'ศิลปศาสตร์',
    'ศิลป์': 'ศิลปศาสตร์',
    'Liberal Arts': 'ศิลปศาสตร์',
    'วิศวะ': 'วิศวกรรมศาสตร์',
    'Engineering': 'วิศวกรรมศาสตร์',
    'วิศวฯ': 'วิศวกรรมศาสตร์',
    'วิศวกรรมศาสตร์': 'วิศวกรรมศาสตร์',
    'วิศวกรรม' : 'วิศวกรรมศาสตร์'
}

In [694]:
faculty_map

{'วิทยาศาสตร์': 'วิทยาศาสตร์',
 'Science': 'วิทยาศาสตร์',
 'วิทย์': 'วิทยาศาสตร์',
 'คณะวิทยาศาสตร์': 'วิทยาศาสตร์',
 'Sci': 'วิทยาศาสตร์',
 'ศิลปศาสตร์': 'ศิลปศาสตร์',
 'Arts': 'ศิลปศาสตร์',
 'ศิลป์': 'ศิลปศาสตร์',
 'Liberal Arts': 'ศิลปศาสตร์',
 'วิศวะ': 'วิศวกรรมศาสตร์',
 'Engineering': 'วิศวกรรมศาสตร์',
 'วิศวฯ': 'วิศวกรรมศาสตร์',
 'วิศวกรรมศาสตร์': 'วิศวกรรมศาสตร์',
 'วิศวกรรม': 'วิศวกรรมศาสตร์'}

In [695]:
df['คณะ'] = df['คณะ'].map(faculty_map)

In [696]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,ชั่วโมง,วันในสัปดาห์,เดือน,ปี,ช่วงเวลา,BMI,สุขภาพ
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.0,2024-02-13,0,Tuesday,2,2024,เช้า,22.491349,ปกติ
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.0,2023-12-31,0,Sunday,12,2023,เช้า,21.303949,ปกติ
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.0,2023-12-30,0,Saturday,12,2023,เช้า,20.770975,ปกติ
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.000000,168.000000,70.000000,10.0,2024-01-31,0,Wednesday,1,2024,เช้า,24.801587,ปกติ
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.0,2024-02-04,0,Sunday,2,2024,เช้า,20.312500,ปกติ
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.0,2024-01-28,0,Sunday,1,2024,เช้า,25.351541,อ้วน
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.0,2024-02-08,0,Thursday,2,2024,เช้า,19.227688,ปกติ
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.0,2024-02-05,0,Monday,2,2024,เช้า,25.308642,อ้วน
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.0,2024-02-10,0,Saturday,2,2024,เช้า,20.700817,ปกติ
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.0,2023-12-18,0,Monday,12,2023,เช้า,21.513859,ปกติ
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,10.0,2024-01-21,0,Sunday,1,2024,เช้า,24.183802,ปกติ
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.0,2024-02-04,0,Sunday,2,2024,เช้า,21.754082,ปกติ
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.0,2023-12-22,0,Friday,12,2023,เช้า,25.209201,อ้วน
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.0,2024-01-05,0,Friday,1,2024,เช้า,20.077335,ปกติ
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.0,2023-12-24,0,Sunday,12,2023,เช้า,21.338211,ปกติ
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.0,2024-01-23,0,Tuesday,1,2024,เช้า,26.061679,อ้วน
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.0,2024-01-02,0,Tuesday,1,2024,เช้า,22.499637,ปกติ
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.0,2023-12-19,0,Tuesday,12,2023,เช้า,19.289379,ปกติ
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,10.0,2024-01-09,0,Tuesday,1,2024,เช้า,25.102391,อ้วน
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.0,2024-02-13,0,Tuesday,2,2024,เช้า,22.675737,ปกติ

##เช็คค่า mising อีกรอบว่าหมดยัง

In [697]:
df.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
ชั่วโมง                    0
วันในสัปดาห์               0
เดือน                      0
ปี                         0
ช่วงเวลา                   0
BMI                        0
สุขภาพ                     0
dtype: int64

In [698]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,ชั่วโมง,วันในสัปดาห์,เดือน,ปี,ช่วงเวลา,BMI,สุขภาพ
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.0,2024-02-13,0,Tuesday,2,2024,เช้า,22.491349,ปกติ
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.0,2023-12-31,0,Sunday,12,2023,เช้า,21.303949,ปกติ
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.0,2023-12-30,0,Saturday,12,2023,เช้า,20.770975,ปกติ
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.000000,168.000000,70.000000,10.0,2024-01-31,0,Wednesday,1,2024,เช้า,24.801587,ปกติ
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.0,2024-02-04,0,Sunday,2,2024,เช้า,20.312500,ปกติ
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.0,2024-01-28,0,Sunday,1,2024,เช้า,25.351541,อ้วน
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.0,2024-02-08,0,Thursday,2,2024,เช้า,19.227688,ปกติ
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.0,2024-02-05,0,Monday,2,2024,เช้า,25.308642,อ้วน
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.0,2024-02-10,0,Saturday,2,2024,เช้า,20.700817,ปกติ
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.0,2023-12-18,0,Monday,12,2023,เช้า,21.513859,ปกติ
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,10.0,2024-01-21,0,Sunday,1,2024,เช้า,24.183802,ปกติ
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.0,2024-02-04,0,Sunday,2,2024,เช้า,21.754082,ปกติ
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.0,2023-12-22,0,Friday,12,2023,เช้า,25.209201,อ้วน
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.0,2024-01-05,0,Friday,1,2024,เช้า,20.077335,ปกติ
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.0,2023-12-24,0,Sunday,12,2023,เช้า,21.338211,ปกติ
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.0,2024-01-23,0,Tuesday,1,2024,เช้า,26.061679,อ้วน
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.0,2024-01-02,0,Tuesday,1,2024,เช้า,22.499637,ปกติ
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.0,2023-12-19,0,Tuesday,12,2023,เช้า,19.289379,ปกติ
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,10.0,2024-01-09,0,Tuesday,1,2024,เช้า,25.102391,อ้วน
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.0,2024-02-13,0,Tuesday,2,2024,เช้า,22.675737,ปกติ

##เหลือแค่ชื่อ ที่ยังมี NaN 1อัน
#เลยทำการ df_clean = df.dropna() เพื่อลบออก
#เพราะไม่ได้มีผลต่อการวิเคราะห์หรือโมเดลมาก

In [699]:
df_clean = df.dropna()

In [700]:
df_clean

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,ชั่วโมง,วันในสัปดาห์,เดือน,ปี,ช่วงเวลา,BMI,สุขภาพ
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.0,2024-02-13,0,Tuesday,2,2024,เช้า,22.491349,ปกติ
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.0,2023-12-31,0,Sunday,12,2023,เช้า,21.303949,ปกติ
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.000000,168.000000,70.000000,10.0,2024-01-31,0,Wednesday,1,2024,เช้า,24.801587,ปกติ
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.0,2024-02-04,0,Sunday,2,2024,เช้า,20.312500,ปกติ
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.0,2024-01-28,0,Sunday,1,2024,เช้า,25.351541,อ้วน
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.0,2024-02-08,0,Thursday,2,2024,เช้า,19.227688,ปกติ
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.0,2024-02-05,0,Monday,2,2024,เช้า,25.308642,อ้วน
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.0,2024-02-10,0,Saturday,2,2024,เช้า,20.700817,ปกติ
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.0,2023-12-18,0,Monday,12,2023,เช้า,21.513859,ปกติ
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,10.0,2024-01-21,0,Sunday,1,2024,เช้า,24.183802,ปกติ
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.0,2024-02-04,0,Sunday,2,2024,เช้า,21.754082,ปกติ
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.0,2023-12-22,0,Friday,12,2023,เช้า,25.209201,อ้วน
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.0,2024-01-05,0,Friday,1,2024,เช้า,20.077335,ปกติ
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.0,2023-12-24,0,Sunday,12,2023,เช้า,21.338211,ปกติ
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.0,2024-01-23,0,Tuesday,1,2024,เช้า,26.061679,อ้วน
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.0,2024-01-02,0,Tuesday,1,2024,เช้า,22.499637,ปกติ
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.0,2023-12-19,0,Tuesday,12,2023,เช้า,19.289379,ปกติ
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,10.0,2024-01-09,0,Tuesday,1,2024,เช้า,25.102391,อ้วน
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.0,2024-02-13,0,Tuesday,2,2024,เช้า,22.675737,ปกติ